
Onvif/bin/Debug/Onvif.dll

Onvif/bin/Debug/Onvif.dll.mdb

Onvif/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

OnvifService/bin/Debug/OnvifServices.dll.mdb

Onvif/obj/Debug/Onvif.csproj.FilesWrittenAbsolute.txt

Onvif/obj/Debug/Onvif.dll

Onvif/obj/Debug/Onvif.dll.mdb

OnvifClient/bin/Debug/Onvif.dll

OnvifClient/bin/Debug/Onvif.dll.mdb

OnvifClient/bin/Debug/OnvifClient.exe

OnvifClient/bin/Debug/OnvifClient.exe.mdb

OnvifClient/obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

OnvifClient/obj/x86/Debug/OnvifClient.csproj.FilesWrittenAbsolute.txt

OnvifClient/obj/x86/Debug/OnvifClient.exe

OnvifClient/obj/x86/Debug/OnvifClient.exe.mdb

OnvifClient/obj/x86/Debug/OnvifClient.gtk-gui.gui.stetic

OnvifService/bin/Debug/Onvif.dll

OnvifService/bin/Debug/Onvif.dll.mdb

OnvifService/bin/Debug/OnvifService.exe

OnvifService/bin/Debug/OnvifService.exe.mdb

OnvifService/bin/Debug/OnvifServices.dll

OnvifService/obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

OnvifService/obj/x86/Debug/OnvifService.csproj.FilesWrittenAbsolute.txt

OnvifService/obj/x86/Debug/OnvifService.exe

OnvifService/obj/x86/Debug/OnvifService.exe.mdb

OnvifServices/bin/Debug/OnvifServices.dll

OnvifServices/bin/Debug/OnvifServices.dll.config

OnvifServices/bin/Debug/OnvifServices.dll.mdb

OnvifServices/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs

OnvifServices/obj/Debug/OnvifServices.csproj.FilesWrittenAbsolute.txt

OnvifServices/obj/Debug/OnvifServices.dll

OnvifServices/obj/Debug/OnvifServices.dll.mdb
